h1{
    font-size: 40px;
}
.tieude{
    text-align: center;
    font-weight: bold;
    color: red;
}

.nganHang{
text-align: center;
margin-top: 40px;

}
.nganHang p span{
    font-weight: bolder;
    font-size: 20px;
}
.qr{
    text-align: center;
}
.qr p span{
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
}

.qr>.ndQR > span{
    color: black;
}
